.blue { color: #1b91ff;}

.green { color: #17ff2e;}

.red { color: #ff2c2d;}

.pink { color: #EA64A6;}

/* Désactiver les titres en majuscule */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {text-transform: none;}
